<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{url_for('index')}}">
			<img
				src="{{url_for('static',filename='images/bootstrap-logo.svg')}}"
				alt="Logo"
				width="40"
			/>
		</a>
		<div
			class="collapse navbar-collapse"
			id="navbarTogglerDemo01"
		>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{{url_for('index')}}"
						>Home</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="https://flask.palletsprojects.com/en/3.0.x/"
						target="_blank"
						>Flask</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="https://getbootstrap.com/"
						target="_blank"
						>Bootstrap</a
					>
				</li>
			</ul>
		</div>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarTogglerDemo01"
			aria-controls="navbarTogglerDemo01"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>
